.form-wrap {
    padding: 10px 20px;
}

.input {
    display: block;
    width: 480px;
    line-height: 56px;
    background-color: #FFFF;
    border: 1px solid #E7E7E7;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    color: #313037;
    outline: none;
}

.input:disabled {
    background-color: #E7E7E7;
}

.error {
    display: block;
    width: 480px;
    line-height: 56px;
    outline: none;
    background-color: transparent;
    border: 1px solid #FC857F;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    color: #313037;
}

@media (max-width: 537px) {
    .input {
        width: 360px;
    }
}

@media (max-width: 417px) {
    .input {
        width: 280px;
        line-height: 46px;
    }
    .form-wrap {
        padding: 10px 10px;
    }
}