.main-title-light {
    margin: 32px 0 48px;
    font-family: 'Inter';
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    color:#313037;
}

.main-title-dark {
    margin: 32px 0 48px;
    font-family: 'Inter';
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    color:#eeeeee;
}

@media (max-width: 756px) {
    .main-title-light {
        font-size: 45px;
        margin: 32px 0 36px;
    }
    .main-title-dark {
        font-size: 45px;
        margin: 32px 0 36px;
    }
}

@media (max-width: 476px) {
    .main-title-light {
        font-size: 40px;
    }
    .main-title-dark {
        font-size: 40px;
    }
}

@media (max-width: 430px) {
    .main-title-light {
        font-size: 32px;
    }
    .main-title-dark {
        font-size: 32px;
    }
}