.card-wrap {
    width: 350px;
}

.card__image-block {
    width: 100%;
    height: 265px;
    margin-bottom: 20px;
    background-color: #F4EEFD;
}

.card__image {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

.card__about {
    width: 100%;
}

.card__about-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #313037;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;
}

.card__about-block {
    display: flex;
    justify-content: space-between;
}

.card__about-block-icon {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.card__about-price {
    color: #313037;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
