.section-favorite-light {
    padding: 72px 0;
    min-height: calc(100vh - 104px);
    background-color: #fff;
}

.section-favorite-dark {
    padding: 72px 0;
    min-height: calc(100vh - 104px);
    background-color: #3f3e3e;
}

.favorites-text-light {
    color: #313037;
    font-size: 30px;
}

.favorites-text-dark {
    color: #eeeeee;
    font-size: 30px;
}