.section-favorite-light {
    padding: 72px 0;
    background-color: #fff;
}

.section-favorite-dark {
    padding: 72px 0;
    background-color: #3f3e3e;
}

.favorites-text-light {
    height: 100vh;
    color: #313037;
    font-size: 30px;
}

.favorites-text-dark {
    height: 100vh;
    color: #eeeeee;
    font-size: 30px;
}