.selected-book-light {
    padding: 72px 0;
    background-color: #FFFF;
}

.selected-book-dark {
    padding: 72px 0;
    background-color: #3f3e3e;
}

.icon-back {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 37px;
}

.selected-book__first-block {
    width: 100%;
    display: flex;
    margin: 48px 0 72px;
    justify-content: space-between;
}

.selected-book__first-block-image-light {
    width: 544px;
    height: 472px;
    background-color: #FEE9E2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-book__first-block-image-dark {
    width: 544px;
    height: 472px;
    background-color: #515152;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-book__image {
    object-fit: contain;
    object-position: center;
    width: 80%;
    height: 80%;
}

.selected-book__first-block-about {
    width: 448px;
    height: 472px;
}

.selected-book__price-light {
    color: #313037;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    margin: 41px 0 24px 0;
}

.selected-book__price-dark {
    color: #eeee;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    margin: 41px 0 24px 0;
}

.selected-book__info-list {
    width: 100%;
    margin-bottom: 91px;
}

.selected-book__info-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-title-light {
    color: #A8A8A8;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.list-title-dark{
    color: #eeee;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.list-text-light {
    color: #313037;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
}

.list-text-dark {
    color: #eeee;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
}

.selected-book__button-light {
    width: 100%;
    height: 56px;
    border-radius: none;
    border: none;
    background-color: #313037;
    color: #FFFF;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    font-family: "Bebas Neue";
    letter-spacing: 0.05em;
    cursor: pointer;
}

.selected-book__button-dark {
    width: 100%;
    height: 56px;
    border-radius: none;
    border: none;
    background-color: #eeee;
    color: #313037;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    font-family: "Bebas Neue";
    letter-spacing: 0.05em;
    cursor: pointer;
}

.selected-book__second-block {
    width: 100%;
}

.selected-book__second-block-title-light {
    color: #313037;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 49px;
}

.selected-book__second-block-title-dark {
    color: #eeee;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 49px;
}

.selected-book__second-block-content-light {
    color: #313037;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-bottom: 48px;
}

.selected-book__second-block-content-dark {
    color: #eeee;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-bottom: 48px;
}

.selected-book__second-block-like-light {
    width: 160px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #313037;
    padding: 10px 15px;
    align-items: center;
    cursor: pointer;
}

.selected-book__second-block-like-dark {
    width: 160px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #eeee;
    padding: 10px 15px;
    align-items: center;
    cursor: pointer;
}

.like-text-light {
    color: #313037;
    font-size: 18px;
    font-weight: 500;
}

.like-text-dark {
    color: #eeee;
    font-size: 18px;
    font-weight: 500;
}