.header-light {
    width: 100%;
    height: 104px;
    background-color: #D7E4FD;
}

.header-dark {
    width: 100%;
    height: 104px;
    background-color: #272727;
}

.header-wrap {
    max-width: 1120px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-light {
    color: #313037;
    font-size: 28px;
    font-weight: 600;
}

.logo-dark {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
}

.header-navigation {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.header-navigation__icons {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-navigation__icons-theme {
    width: 70px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #e95f5f;
    text-align: center;
}

.total-favorites {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #53da80;
    text-align: center;
}

.my-icon-light {
    font-size: 24px;
    color: #313037;
}

.my-icon-dark {
    font-size: 24px;
    color: #eeeeee;
}