.footer-light {
    background-color: #FFFF;
}

.footer-dark {
    background-color: #3f3e3e;
}

.footer-wrap {
    border-top: 1px solid #E7E7E7;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    display: block;
    padding: 36px 0 35px;
    color: #A8A8A8;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

@media (max-width: 430px) {
    .footer-text {
        font-size: 13px;
    }
}